.server-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin: 0.5rem 0;
}

.server-button {
  min-width: 10rem;
  color: white;
  padding-left: 2rem;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: normal;
  overflow-wrap: break-word;
}

.server-button:active {
  transform: translateY(1px);
}

.server-button.server-online {
  background: linear-gradient(to bottom, #006633, #003311);
  border: 1px solid var(--status-online);
  box-shadow:
    0 0 0 1px #000022,
    inset 0 0 5px rgba(0, 255, 0, 0.3),
    0 0 8px rgba(0, 255, 0, 0.5);
}

.server-online:hover {
  box-shadow:
    0 0 0 1px #000022,
    inset 0 0 10px rgba(0, 255, 0, 0.5),
    0 0 15px rgba(0, 255, 0, 0.7);
}

.server-button.server-offline {
  background: linear-gradient(to bottom, #660000, #330000);
  border: 1px solid var(--status-offline);
  box-shadow:
    0 0 0 1px #000022,
    inset 0 0 5px rgba(255, 0, 0, 0.3),
    0 0 8px rgba(255, 0, 0, 0.5);
  cursor: not-allowed;
}

.server-online::before,
.server-offline::before {
  content: "";
  position: absolute;
  left: 0.8rem;
  top: 45%;
  width: 10px;
  height: 10px;
  border-radius: 0.15rem;
}

.server-online::before {
  background-color: var(--status-online);
  box-shadow: 0 0 10px var(--status-online);
  animation: pulse 2s infinite;
}

.server-offline::before {
  background-color: var(--status-offline);
  box-shadow: 0 0 5px var(--status-offline);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
